.form-section
{
    background-color: #f6fbff;
  padding: 32px;
  padding-bottom: 120px;
  padding-top: 20px;

  height: 100%;
    .form 
    {
        background-color: white;
        position: relative;
        padding: 30px 30px;
        box-shadow: 0 4px 29px 0 rgba(55, 73, 90, 0.15);
        label {
            font-family: var(--inter);
            padding: 5px 0;
            font-weight: 500;
            span {
              color: rgb(236, 37, 37);
            }
          }
          .error 
          {
            color:rgb(224, 9, 9);
            font-size: 14px;
          }
          .inputfield
          {
            border: 1.5px solid #c0d3e5;
            padding: 8px 12px;
            outline: none;
            width: 100%;
          }
          .fileinput
          {
            border:dotted 2px #c0d3e5;
           padding:30px;
            outline: none;
            width: 100%;
            display: block;
          }
    }
}