
@import url(../App.css);
.sidebar
{
    height: calc(100vh - 50px);
    transition: 0.3s ease-in;
  
    .sidenavlist 
    {
        background-color: var(--Secondarycolor);
        width: 260px;
        height: 100%;
       
        
        overflow-x:visible;
        ::-webkit-scrollbar 
        {
            width: 30px;
        }
        ::-webkit-scrollbar-thumb
        {
            background-color: var(--Primarycolor);
        }
      
        
        &.sidebar-open 
        {
            width: 80px;
            transition: 0.3s ease-in;
            ul {
                li 
                {
                   position: relative;
                    a
                    {
                        .menuname 
                        {
                            display: none;
                        }
                        .chev-icon 
                        {
                            display: none;
                        }
                    }
                    ul 
                    {
                        position: absolute;
                        top:0;
                        right: 0;
                        margin:5px;
                       background-color: aliceblue;
                        left:120%;
                        width: 230px ;
                        overflow: visible !important;
                        z-index: 999;
                       

                        li 
                        {
                            overflow: hidden;
                            display: flex;
                        
                          a 
                          {
                            .menuname 
                            {
                                display: flex;
                            }
                          }
                        }
                        .activesubmenu 
                        {
                           
                          .menuicons 
                          {
                         
                           border-right: none;
                           background-color: transparent;
                                
                          }
                        }
                    }
                }
            }
           
        }
        
        nav 
        {
            padding: 20px 20px 20px 0;
            ul 
            { 
                li 
                {
                  
                    padding: 10px 0;
                    
                    ul
                    {
                        margin: 10px 8px 10px 15px;
                        background-color: white;
                        padding: 5px 5px 5px 0;
                        border-radius: 15px;
                        transition:  0.3s ease-in;
                       
                        li 
                        {
                            padding: 5px 5px 5px 0;
                            a 
                            {
                              display: flex;
                             justify-content: space-between;
                              font-size: 16px;
                           

                            }
                            .activesubmenu 
                            {
                                color: var(--Primarycolor);
                              .menuicons 
                              {
                                background-color: var(--Primarycolor);
                                border-right: 3px solid black;
                                border-radius: 4px 0 0 4px;

                              }
                            }
                            .menuicons 
                            {
                                padding: 5px 10px 5px 20px ;
                                border:3px solid transparent;
                               
                            }
                        }
                    }
                     a 
                     {
                    display: flex;   
                    justify-content: space-between;
                    align-items: center;
                    font-family: var(--inter);
                    font-size: 18px;
                    font-weight: 600;
                    .menuitems-flex 
                    {
                        display: flex;
                        align-items: center;
                        gap:20px;
                    }
                    .chev-icon 
                    {
                        font-size: 15px !important;
                    }
                    &.active 
                    {
                        color: var(--Primarycolor);
                        .menuicons 
                        {
                            background-color: var(--Primarycolor);
                            border-right: 3px solid black;
                        }
                     
                    }
                    .menuicons 
                    {
                        padding: 5px 10px 5px 20px ;
                        border:3px solid transparent;
                     
                       
                        
                       
                    }
            
                     }
                }
            }
        }
    }
}