.App {
  text-align: center;
}
:root {
  --Primarycolor: #034848;
  --Secondarycolor: #95bfbf;
  --Tablebg: #c0d3e4;
  --inter: "Inter", sans-serif;
}
.header {
  .hamicons {
    color: rgba(255, 255, 255, 0.479);
  }
}



.inquirydiv 
{
  width: 50%;
  height: fit-content;
  background-color: #cef0f0fa;
 
  transition:0.3s ease-in;
  position:absolute;
  z-index: 2;
  top:50%;
  left:57%;
  transform: translate(-50%, -50%);
  form 
  {
    height: 100%;
    padding:50px;
    label 
    {
    display: block;
    font-size: 16px;
    font-family: var(--inter);
    padding-top: 20px;
    }
    input 
    {
      width: 100%;
      border:1px solid #556666;
      padding:4px 10px;

    }
    textarea 
    {
      width: 100%;
      border:1px solid #556666;

    }

  }

}
.profileview
{
  height: 200px;
  left:-60% ;
  right: 0 ;
  top:50px;
  background-color: #95bfbf;
  position: absolute;
  width: 250px;
  border-radius: 15px;
  padding: 20px;
  z-index: 2;
  ul 
  {
li 
{
  font-size: 16px;
    font-weight: 600;
    font-family: var(--inter);
    padding: 13px;
    text-align: center;
    text-transform: uppercase;
   color:var(--Primarycolor);
   &:hover 
   {
    background-color: var(--Primarycolor);
    color:white;
   }
  a 
  {
    

  }
}
  }
  
 
}

.footer {
position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  z-index: 3;
  .firstdiv {
    border-radius: 0px 40px 0px 0px;
    height: 100%;
  }
  .secondiv {
    border-radius: 40px 0px 0px 0px;
    height: 100%;
    display: flex;
    align-items: center;
    gap:30px;
    .footer-icon 
    {
      color: white;
      font-size: 20px;

    }
    p 
    {
      color: white;
      font-family: var(--inter);
      font-size:16px;
    }
  }
}
.branchtable {
  .addbtn {
    button {
      background-color: var(--Primarycolor);
      color: white;
      padding: 5px 20px;
      font-family: var(--inter);
      font-weight: 500;
      &:hover {
        background-color: #082222;
      }
    }
  }
  table {
    width: 100%;

    thead {
      th {
        border-right: 0.5px solid rgba(61, 99, 99, 0.4);
        background-color: var(--Tablebg);
        padding: 10px;
        font-weight: 600;
        font-family: var(--inter);
        text-align: start;
        &:last-child {
          border-right: none;
        }
      }
    }
    tbody {
      td {
        border: 0.5px solid rgba(61, 99, 99, 0.4);
        background-color: white;
        border-bottom: none;
        padding: 10px;
        font-weight: 400;
        font-family: var(--inter);
        text-align: start;
        font-size: 16px;
        margin: 0 !important;
        button {
          background: var(--Primarycolor);
          padding: 4px 18px;
          border-radius: 20px;
          color: white;
        }
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }

        span {
          font-size: 22px;
          margin: 0;
        }
      }
    }
  }
}
.Branchform {
  background-color: #f6fbff;
  padding: 32px;
  padding-bottom: 120px;
  padding-top: 20px;

  height: 100%;

  form {
    background-color: white;
    position: relative;
    padding: 10px 30px;
    box-shadow: 0 4px 29px 0 rgba(55, 73, 90, 0.15);
    label {
      font-family: var(--inter);
      padding: 5px 0;
      font-weight: 500;
      span {
        color: rgb(236, 37, 37);
      }
    }
    .formbutton {
      position: absolute;
      bottom: 2em;
      right: 3em;
    }

    input {
      border: 1.5px solid #c0d3e5;
      padding: 8px 12px;
      outline: none;
    }
    textarea {
      border: 1.5px solid #c0d3e5;
      padding: 10px 12px;
      outline: none;
    }
  }
}
